<template name="jotes">
    <div class="jumbotron text-center jote">
        <h1 class="question">Is this a phone?</h1>
        <p class="text-center">
            <a class="btn btn-primary btn-lg choice" href="#" role="button">Yes</a>
            <a class="btn btn-warning btn-lg choice" href="#" role="button">No</a>
        </p>
    </div>
    <div class="jumbotron text-center jote">
        <h1 class="question">Is this a car?</h1>
        <p class="text-center">
            <a class="btn btn-primary btn-lg choice" href="#" role="button">Yes</a>
            <a class="btn btn-warning btn-lg choice" href="#" role="button">No</a>
        </p>
    </div>
    <div class="jumbotron text-center jote">
        <h1 class="question">Is this a plane?</h1>
        <p class="text-center">
            <a class="btn btn-primary btn-lg choice" href="#" role="button">Yes</a>
            <a class="btn btn-warning btn-lg choice" href="#" role="button">No</a>
        </p>
    </div>
    <div class="jumbotron text-center jote">
        <h1 class="question">Is this a cat?</h1>
        <p class="text-center">
            <a class="btn btn-primary btn-lg choice" href="#" role="button">Yes</a>
            <a class="btn btn-warning btn-lg choice" href="#" role="button">No</a>
        </p>
    </div>
    <div class="jumbotron text-center jote">
        <h1 class="question">Is this a dog?</h1>
        <p class="text-center">
            <a class="btn btn-primary btn-lg choice" href="#" role="button">Yes</a>
            <a class="btn btn-warning btn-lg choice" href="#" role="button">No</a>
        </p>
    </div>
</template>
