@import "tools/extends";

@import "objects/forms";

@import "components/login";

body { padding-top: 70px; }

.jote {
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 30px;

  .question {
    padding: 0 5px;
    margin-bottom: 20px;
  }

  .btn.choice {
    width: 150px;
    margin: 10px 10px;
  }
}

.myAnimated {
  -webkit-animation-duration: 0.75s;
  -webkit-animation-delay: 0.25s;
  animation-duration: 0.75s;
  animation-delay: 0.25s;
}

.navbar {
  .score {
    color: black;
  }
}
