<template name="headerJotes">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="{{pathFor 'index'}}">
            <img src="/images/logo/mortar-square-alpha-tj-64.png" style="width: 48px;height: 48px;margin-top:-16px;display:inline;">
            <span style="vertical-align: top" class="hidden-xs">Tam Jote</span>
        </a>
	    </div>
      <h2 class="navbar-text score" style="position: absolute;top: -5px;right: 20px;">{{score}}</h2>
	  </div>
	</nav>
</template>
